.banner-body{
    background-image: linear-gradient(#4159c44b, #6b40cf6e),
    url("./../../../image/background/background.jpg");
  width: auto;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner-text-block{
    display: inline-flex;
    height: 95vh;
    align-items: center;
}
.banner-title{
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 70%;
    
}
.banner-title h1{
    font-size: 45px;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.banner-title h6{
    font-size: 26px;
    font-weight: 700;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.banner-title .button_design{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    border-radius: 0;
}
.banner-title .button_design:hover{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.banner-title .button_design2{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 0;
}
.client_logo_slider{
    margin-top: 100px;
    margin-bottom: 100px;
}
.adv_offer_block{
    margin-top: 100px;
    margin-bottom: 50px;
}

.featured_product_block{
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #f5f7f9;
}

.featured_product_block .featured_product_title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 50px;
}