.banner-body{
    background-image: linear-gradient(#4159c44b, #6b40cf6e),
    url("./../../../image/background/background.jpg");
  width: auto;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner-title{
    color: #fff;
    padding-top: 15%;
    font-family: 'Roboto', sans-serif;
    width: 70%;
}
.banner-title h1{
    font-size: 66px;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.banner-title h6{
    font-size: 26px;
    font-weight: 700;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.banner-title .button_design{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    border-radius: 0;
}
.banner-title .button_design2{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 0;
}