/* Adv Card Start */
.adv_card .card {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.adv_card .card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.adv_card .card .card-body {
  height: 100%;
  display: flex;
  align-items: end;
  background: linear-gradient(to top, #000000b3, #00000000);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.button_design {
  padding: 4px 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  border-radius: 0;
}
.button_design:hover {
  background-color: #c07f00;
  border: 1px solid #c07f00;
  color: #fff;
}

/* Product card Style */
.product_card {
  position: relative;
}

.product_card .card_custom {
  position: relative;
  height: 350px;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
}

.product_card .card_custom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c07f00;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.product_card .card_custom:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.product_card .card_custom:after {
  content: "JJJA";
  text-align: center;
  position: absolute;
  top: 70%;
  left: 25%;
  font-size: 50px;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.product_card .card_custom .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.product_card .card_custom:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.product_card .card_custom .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 150px;
  height: 150px;
}

.product_card .card_custom .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  transition: 1s;
  z-index: 90;
}

.product_card .card_custom:hover .contentBx {
  height: 170px;
}

.product_card .card_custom .contentBx .title {
  position: relative;
  font-weight: 600;
  color: #fff;
  padding-left: 20px;
  font-size: 20px;
  margin: 0;
}

.product_card .card_custom .contentBx > .price {
  display: flex;
  padding-left: 20px;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.product_card .card_custom:hover .contentBx > .price {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.product_card .card_custom .contentBx > .price p {
  color: white;
  padding: 0;
  margin: 0;
}
.rating {
  color: yellow;
}
.outline_rating {
  border: 1px solid yellow;
}

/* Services Card */

.service_card {
  /* margin: 20px; */
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* .service_card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
} */

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: #000000e6;
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #00000099;
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}


.card__title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.card__description {
  padding-top: 10px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #000000;
}

.card__apply {
  align-self: center;
}
