
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}



.button-style-2 {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.button-style-2 {
  width: 12rem;
  height: auto;
}
.button-style-2 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: #FC4F00;
  border-radius: 1.625rem;
}
.button-style-2 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.button-style-2 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.25rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.button-style-2 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.button-style-2 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.1rem 0;
  margin: 0 0 0 0.5rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.button-style-2:hover .circle {
  width: 100%;
}
.button-style-2:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.button-style-2:hover .button-text {
  color: #fff;
}
